db.sqlite3
backend/settings.py
backend/urls.py
backend/__pycache__/__init__.cpython-39.pyc
backend/__pycache__/settings.cpython-39.pyc
backend/__pycache__/urls.cpython-39.pyc
backend/__pycache__/wsgi.cpython-39.pyc
hospital/__pycache__/__init__.cpython-39.pyc
hospital/__pycache__/admin.cpython-39.pyc
hospital/__pycache__/apps.cpython-39.pyc
hospital/__pycache__/models.cpython-39.pyc
hospital/__pycache__/urls.cpython-39.pyc
hospital/migrations/0001_initial.py
hospital/migrations/__pycache__/__init__.cpython-39.pyc
hospital/migrations/__pycache__/0001_initial.cpython-39.pyc
patient/models.py
patient/views.py
patient/__pycache__/__init__.cpython-39.pyc
patient/__pycache__/admin.cpython-39.pyc
patient/__pycache__/apps.cpython-39.pyc
patient/__pycache__/models.cpython-39.pyc
patient/__pycache__/urls.cpython-39.pyc
patient/__pycache__/views.cpython-39.pyc
patient/migrations/0001_initial.py
patient/migrations/0002_remove_patient_patient_name_and_more.py
patient/migrations/__pycache__/__init__.cpython-39.pyc
patient/migrations/__pycache__/0001_initial.cpython-39.pyc
patient/migrations/__pycache__/0002_remove_patient_patient_name_and_more.cpython-39.pyc
user/__init__.py
user/admin.py
user/apps.py
user/models.py
user/tests.py
user/urls.py
user/views.py
user/__pycache__/__init__.cpython-39.pyc
user/__pycache__/admin.cpython-39.pyc
user/__pycache__/apps.cpython-39.pyc
user/__pycache__/models.cpython-39.pyc
user/__pycache__/urls.cpython-39.pyc
user/__pycache__/views.cpython-39.pyc
user/migrations/__init__.py
user/migrations/0001_initial.py
user/migrations/__pycache__/__init__.cpython-39.pyc
user/migrations/__pycache__/0001_initial.cpython-39.pyc
